/* profile.css */
html {
  background-color: #f5f7f9;
}

body {
  background: none;
  color: #69707a;
  font-family: "Open Sans", Arial, sans-serif;
}

strong {
  color: #69707a;
}

.jumbotron .display-1 {
  font-size: 40px;
}

.navbar {
  background: #323232;
  border: none;
  margin-bottom: 0px;
}

.btn {
  font-weight: 300;
}

.btn-primary {
  background: CF000F;
  border-color: white;
  border-width: 0px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background: #323232;
  border-color: #323232;
  border-width: 0px;
}

.card {
  border-color: CF000F;
  border-width: 0px;
}

.card-title {
  color: #69707a;
  font-weight: 300;
}

.card-block small {
  float: right;
}

.description {
  background-image: url("https://newevolutiondesigns.com/images/freebies/cool-wallpaper-6.jpg");
  background-repeat: repeat-1;
}

/* Additional stuff for index.html page */
.jumbotron {
  background-image: url("https://newevolutiondesigns.com/images/freebies/cool-wallpaper-6.jpg");
  background-size: cover;
  color: D24D57;
  padding-bottom: 500px;
  margin-bottom: 0px;
}

.zoomhover {
  padding: 1rem 1.75rem;
  font-size: 1.5rem;
  border-radius: .55rem;
}
